body{
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
.cont {
    display: flex;

}
.navcolor {
    background-image: radial-gradient(circle 976px at 51.2% 51%, rgba(11, 27, 103, 1) 0%, rgba(16, 66, 157, 1) 0%, rgba(11, 27, 103, 1) 17.3%, rgba(11, 27, 103, 1) 58.8%, rgba(11, 27, 103, 1) 71.4%, rgba(16, 66, 157, 1) 100.2%, rgba(187, 187, 187, 1) 100.2%);
}
.img {
    margin-right: 70%;
}

.imga {
    width: 260px;
    margin-top: 370px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.resultado {
    margin-top: 20px;
    border: 1px solid;
    padding: 10px;
}
#idprincipal{
    text-align: center;
}
      
.btn-grad {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 